 /* table meta & balance */

#tableinvoice table.meta, #tableinvoice table.balance { float: right; width: 36%; }
#tableinvoice table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

#tableinvoice
{
	border: 0;
	box-sizing: content-box;
	color: black;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

/* content editable */

#tableinvoice [contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

#tableinvoice [contenteditable] { cursor: pointer; }

#tableinvoice [contenteditable]:hover, #tableinvoice [contenteditable]:focus, td:hover #tableinvoice [contenteditable], td:focus #tableinvoice [contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

#tableinvoice h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

/* table */
#tableinvoice table { font-size: 75%; table-layout: fixed; width: 100%; }
#tableinvoice table { border-collapse: separate; border-spacing: 2px; }
#tableinvoice th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
#tableinvoice th, td { border-radius: 0.25em; border-style: solid; }
#tableinvoice th { background: #EEE; border-color: #BBB; }
#tableinvoice td { border-color: #DDD; }

/* page */

#tableinvoice html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
#tableinvoice html { background: #999; cursor: default; }

#tableinvoice body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
#tableinvoice body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */

#tableinvoice header { margin: 0 0 3em; }
#tableinvoice header:after { clear: both; content: ""; display: table; }

#tableinvoice header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
#tableinvoice header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
#tableinvoice header address p { margin: 0 0 0.25em; }
#tableinvoice header span, header img { display: block; float: right; }
#tableinvoice header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
#tableinvoice header img { max-height: 100%; max-width: 100%; }
#tableinvoice header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

#tableinvoice article, article address, table.meta, table.inventory { margin: 0 0 3em; }
#tableinvoice article:after { clear: both; content: ""; display: table; }
#tableinvoice article h1 { clip: rect(0 0 0 0); position: absolute; }

#tableinvoice article address { float: left; font-size: 125%; font-weight: bold; }


/* table meta */

#tableinvoice table.meta th { width: 40%; }
#tableinvoice table.meta td { width: 60%; }

/* table items */

#tableinvoice table.inventory { clear: both; width: 100%; }
#tableinvoice table.inventory th { font-weight: bold; text-align: center; }

#tableinvoice table.inventory td:nth-child(1) { width: 26%; }
#tableinvoice table.inventory td:nth-child(2) { width: 38%; }
#tableinvoice table.inventory td:nth-child(3) { text-align: right; width: 12%; }
#tableinvoice table.inventory td:nth-child(4) { text-align: right; width: 12%; }
#tableinvoice table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

#tableinvoice table.balance th, table.balance td { width: 50%; }
#tableinvoice table.balance td { text-align: right; }

/* aside */

#tableinvoice aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
#tableinvoice aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */

#tableinvoice .add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;	
	float: left;
	text-align: center;
	width: 0.6em;
}

#tableinvoice .add, .cut
{
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

#tableinvoice .add { margin: -2.5em 0 0; }

#tableinvoice .add:hover { background: #00ADEE; }

#tableinvoice .cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
#tableinvoice .cut { -webkit-transition: opacity 100ms ease-in; }

#tableinvoice tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }