/* Estilos genéricos */
body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #f9f9f9;
}
html{
	background-color: #f9f9f9;
}

h2 {
	color:#464646;
	font-size:1.5em;
	vertical-align:bottom;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style:italic;
	font-weight:normal;
	margin:0;
	padding:14px 15px 3px 0;
	text-shadow:0 1px 0 #FFFFFF;
}

td, th {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

select.lista {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	width: 150px;
	overflow: auto;
	border:1px solid #637F63;
}

select.destino {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	width: 90px;
	border:1px solid #637F63;
}

select.ubicacion {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	width: 175px;
	overflow: auto;
	border:1px solid #637F63;
}


a {
	text-decoration:underline;
	font-size:12px;
	color:#333333;
}

a:hover {
	text-decoration:none;
	font-size:12px;
	color:#000000;
}

div a {
	text-decoration:none;
	font-size:11px;
	color:#333333;
}

div a:hover {
	text-decoration:none;
	font-size:11px;
	color:#333333;
}

input[type='text'] {
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
	padding:2px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	margin-right:5px;
	vertical-align:middle
}

input[type='password'] {
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
}


textarea {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
}

fieldset {
	border:1px solid #637F63;
	padding: 2px;
}

legend {
	font-weight:bold;
}

label {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #425542;
	padding: 1px 3px 1px 0px;
}

/* Evita que los formularios sean bloques ocupando espacio */
form {
	padding: 0px;
	margin: 0px;
	display: inline;
}

/* Estilos personalizados */
/* header block */
table.adminheading {
	margin:0 auto;
	margin-top:3px;
	background-color: #FFF;
	font-family:Georgia !important;
	width: 100%;
	text-align: left;
	height: 30px;
	width: 100%;
	padding-left: 30px;
	font-size: 28px;
	border: 1px solid #ccc;
	
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	background:url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
text-shadow:0 1px 0 #FFFFFF;
}
table.adminheading img{
	vertical-align:middle;
}
table.adminheading th, table.adminheading td{
	font-size:11px !important;
}
table.adminheading div{
	display:inline;
}

table.adminlist {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #ddd;
	border-top:none;
	border-spacing: 0px;
	width: 100%;
    border-spacing: 0;
	border: 1px solid #ccc;
	
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

table.adminlist th {
	margin: 0px;
	/*padding: 6px 4px 2px 4px; */
	height: 25px;
	background-repeat: repeat;
	font-size: 11px;
	color: #000;
    padding: 2px;
    padding-left:4px;
}
table.adminlist img{
	vertical-align:middle;
	height:16px;
}
table.adminlist tr.row0 {
	background-color: #f5f5f5;
}
table.adminlist tr.row1 {
	background-color: #FFF;
}
table.adminlist tr.row2 {
	background-color: #FFF;
	border-bottom: 1px;
	text-align: right;
}
table.adminlist td {
        padding: 2px;
        font-size: 11px;
}
table.adminlist tr.row0:hover {
	background-color: #EEEEEE;
}
table.adminlist tr.row1:hover {
	background-color: #EEEEEE;
}

td.barra_superior {
	color:#EAEAEA;
	width:100%;
	height:50px;
	background-image:url(/admin/images/header_middle.png);
	text-align:left; 
	font-size:14px;
	font-weight:bold;
}

td.barra_tareas {
	background-image:url(../images/barra_vrd.gif);
	height:25px;
	max-height:25px;
	border:1px solid #CACACA;
	vertical-align:middle;
}

.ayuda {
	border:1px solid #637F63;
	padding: 2px;
	color:#425542;
	background-color:#EAEAEA;
	text-align:justify;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}


.info {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #425542;
}

.campo {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
}
#frontpages{
	
}

.boton {
	color: #666;
	background-color: #eee;
	border: 1px solid #ccc;
	font-family: Helvetica, sans-serif;
}

ul.enlace_rel {
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	list-style-type:square;
}

.class_preview_img {

}


    #thelist2 li { background: #ddedb6; margin:2px; padding: 4px; list-style-type: none;}
    #thelist3 li { background: #d0d2a5; margin:2px; padding: 4px; list-style-type: none;}     
    #thelist2int li { background: #d6e3b6; margin:2px; padding: 4px; list-style-type: none;}
    #thelist3int li { background: #c6c89d; margin:2px; padding: 4px; list-style-type: none;}
    
 
.gallery_list{list-style:none; width:1000px; height:69px; margin:0 auto;}
.gallery_list li{overflow:hidden; float: left; margin:0 5px 5px 0; width:69px; height:69px; background:#F0F0F0; border:1px double #CBCBCB; }
.gallery_list li img{cursor:pointer; border:0px; }

.gallery_list li{ display: table !important; }

.gallery_list li div {display: table-cell !important; width:69px; height: 69px; margin:0; vertical-align: middle !important; text-align: center; float: none !important;}
.gallery_list li a.album {display: table-cell !important; width:69px; height:69px; vertical-align: middle !important; text-align: center; float: none !important;}


#main_image{margin:0 auto 6px auto;background:#FFF;}
#main_image img{margin-bottom:10px;}
.gal{position:relative;margin-top:2em;clear:both;}


 div#nifty{ margin: 0 ;background: #f5f5f5}
b.rtop, b.rbottom{display:block;background: #FFF;}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #f5f5f5;}
b.r1{margin: 0 5px;}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px;}





div.overlay {
	z-index:5;
	opacity:0.7; 
	position: fixed; 
	top: 20%; 
	left: 20%; 
	width: 1000px;
	height: 700px; 
	margin-left: -140px; 
	margin-top: -80px; 
	background-color:#000000;	
	clear:both;  
}

div.black {
	z-index: 7;  
	clear:both; 
	opacity:1; 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	width: 500px; 
	height: 400px; 
	margin-left: -240px; 	
	margin-top: -180px; 
	background-color:#a00; 
	overflow:visible; 
	padding:10px;
	}

div.iframecont {
	opacity:1;  
	clear:both;  
	background-color:#FFFFFF;
	}

	
a.go_home {
	background-image: url("../images/home_no.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.go_home:hover {
	text-decoration:none;
	background-image: url("../images/gohome.png");
	width: 16px;
	height: 16px;
}

a.no_home {
	background-image: url("../images/gohome.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.no_home:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}

a.no_suggest {
	background-image: url("../images/gosuggesthome.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.no_suggest:hover {
	text-decoration:none;
	background-image: url("../images/home_no.png");
	width: 16px;
	height: 16px;
}


a.favourite_on {
	background-image: url("../images/selected.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.favourite_on:hover {
	text-decoration:none;
	background-image: url("../images/no_selected.png");
	width: 20px;
	height: 20px;
}

a.favourite_off {
	background-image: url("../images/no_selected.png");
	display: block;
	width: 20px;
	height: 20px;
}

a.favourite_off:hover {
	text-decoration:none;
	background-image: url("../images/selected.png");
	width: 20px;
	height: 20px;
}



a.publishing {
	background-image: url("../images/publish_g.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.publishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_r.png");
	width: 16px;
	height: 16px;
}


a.unpublishing {
	background-image: url("../images/publish_r.png");
	display: block;
	width: 16px;
	height: 16px;
}

a.unpublishing:hover {
	text-decoration:none;
	background-image: url("../images/publish_g.png");
	width: 16px;
	height: 16px;
}


#warnings-validation {
	text-transform:capitalize;
	font-size: 16px;
	padding: 2px 10px;
	margin:5px 0;
}

#warnings-validation a {
	font-weight: bold;
	font-size: 16px;
	
	color: #024678;
	text-decoration: underline;
}

/* Status scheduled news */
.scheduled_A {
	background-color: #FFC !important;
}

.scheduled_V {
	background-color: #DFD !important;
}

.scheduled_R {
	background-color: #FDD !important;
}

.rot0 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	rotation: 0deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.rot90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rot180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	rotation: 180deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rot270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	height:40px !important;
	text-align:left !important;
	width:10px !important;
	color:#666 !important;
	font-size:.85em !important;
}
#boton_subir{
	-moz-border-radius:10px 10px 10px 10px;
	background-color:#bbb;
	border:1px solid #b3b3b3;
	color:#333;
	float:left;
	margin-left:0;
	margin-bottom:16px;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0 0 3px white;
	float:right;
}
#boton_subir:hover{
	background-color:#aaa;
}
#boton_subir img{
	vertical-align:middle;
}
/****************Tables form***************************************************/
.fuente_cuerpo{
    margin-top:10px;
    padding:6px;
}

.fuente_cuerpo td{
   height:20px;
   padding:4px;
}

