@CHARSET "UTF-8";
#menu-acciones-admin {
	margin: 0px;
	width: 99%;
	height: 45px;
	background-color: #ddd;
	padding:4px;
	border:1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#title-menu{
    float:left;
    margin-left:10px;
    margin-top:0px;
}

#menu-acciones-admin ul {
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom:0px;
	margin-top: 0px;
	padding: 0px;
}

#menu-acciones-admin ul li {
	padding-left: 0px;
	padding-right: 0px;
	float: right;
	margin: 1px;
	margin-top: 0px;
	font-size: 9px;
	text-align: center;
	white-space: nowrap;
}

#menu-acciones-admin ul li a {
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	font-weight: bold;
	color:#464646;
	background: transparent;
	width: auto;
}
#menu-acciones-admin ul li a img {
	height:25px
}
#menu-acciones-admin ul li button img{
    height:40px;
}
#menu-acciones-admin ul li button {
	height:40px
}

#menu-acciones-admin ul li a:hover {
    cursor: pointer;
    background: #d0d0d0;
}