ul#items-list {
	/*min-height: 200px;
	overflow: scroll;*/
	background-color: #FFF;
	
	list-style: none;
	margin: 0 4px;	
}

ul#items-list li {
	padding: 4px;
	margin: 8px 0;
	list-style: none;
	background-color: #DDD;
}

ul#items-list li:hover {
	padding: 4px;
	margin: 8px 0;
	list-style: none;
	background-color: #EEF;
	
	cursor: hand;
	cursor: pointer;
}

ul#items-selected {
	/*min-height: 200px;
	overflow: scroll;*/
	background-color: #FFF;
	
	list-style: none;
	margin: 0 4px;
}

ul#items-selected li {
	height: 22px;
	
	padding: 4px;
	margin: 8px 0;
	list-style: none;
	background-color: #DDD;
	
	cursor: move;
}

ul#items-selected li.account {
	cursor: auto;
}

ul#items-selected li:hover {
	padding: 4px;
	margin: 8px 0;
	list-style: none;
	background-color: #EEF;			
}

ul#items-selected li strong {
	display: block;
	float: left;
}

ul#items-selected li span {
	display: block;
	float: left;
	
	cursor: pointer;
}

ul#items-selected li span:hover {
	padding-right: 18px;
	
	background-image: url(../images/newsletter/editar.gif);
	background-repeat: no-repeat;
	background-position: right;	
}

ul#items-selected li.account span:hover, ul#items-selected li.account span {
	padding: 0;	
	background-image: none;
	cursor: auto;
}

/*ul#items-selected li input {*/
/*	width: 300px;*/
/*}*/

ul#items-selected li div.actions {
	display: block;
	float: left;
	cursor: pointer;
	
	width: 20px;
	height: 20px;
	
	background-image: url(../images/newsletter/close.gif);
	background-repeat: no-repeat;
	background-position: center;
}

/* Container preview */
div#preview {
	padding: 6px;
	width: 770px;
	border: 1px dotted #CCC;
}

strong.ok {
	color: #66CC66;
}

strong.failed {
	color: #CC0000;
}

div.mailing {
	width: 640px;
	
	margin: 4px;
	padding: 4px;
	
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
}

div.subtitle {
	float: left;
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	padding: 8px 0 0 4px;
	width: 290px;
}

div.steps {
	float: left;	
	margin:20px 0 0 0;
}

div.info {
	position: absolute;
	right: 0;
	top: 0;
	
	/*background-color: #EE9;*/
	background-color: #FFF;
	
	background-image: url(../images/ayuda.gif);
	background-repeat: no-repeat;
	background-position: left;	
	
	font-size: 0.8em;
	font-weight: bold;
	color: #369;
	
	padding: 4px 4px 4px 22px;
	float: right;
}

div.form {
	margin: 8px 0;
}

div#menu-acciones-admin li.separator {
	border: 0;
	
	width: 20px;
	height: 70px;
	
	background-image: url(../images/newsletter/separator.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}

/* Splitpane */
#container {
	border: 1px solid #EEE;
	background-color: #FFF;
	
	position: relative;
	height: 500px;
}

#container1, #container2 {
	position: relative;
	background-color: #FFF;
	height: 250px;
	overflow: auto;
}

#separator {
	position: relative;
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	
	background-color: #CCC;
	background-image: url(../images/newsletter/splitter.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 8px;
	cursor: move;
}

/*#items-list, #items-selected {*/
/*	overflow: auto;*/
/*}*/
