.cpanel {
	clear: both;
	border: 2px solid #CCC;
	padding: 1em;
	margin-bottom: 10px;
    width:500px;
}
.cpanelright {
	clear: both;
	border: 2px solid #CCC;
	padding: 1em;
	margin-bottom: 10px;
}
table.adminform {
    background-color:#F9F9F9;
    border:1px solid #D5D5D5;
    border-collapse:collapse;
    margin:8px 0 15px;
    width:100%;
}
img {
border:0 none;
}
#cpanel span {
display:block;
text-align:center;
}
#cpanel div.icon {
float:left;
margin-bottom:5px;
margin-right:5px;
text-align:center;
}
#cpanel img {
margin:0 auto;
padding:10px 0;
}
#cpanel div.icon a:hover {
background:#F9F9F9 none repeat scroll 0 0;
border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
border-style:solid;
border-width:1px;
color:#0B55C4;
}
#cpanel div.icon a {
border:1px solid #F0F0F0;
color:#666666;
display:block;
float:left;
height:97px;
text-decoration:none;
vertical-align:middle;
width:108px;
}
table.adminform td {
text-align:left;
}
body, td, th {
font-family:Arial,Helvetica,sans-serif;
}

/* RSS boxes */
div.rssBox {	
	background-color: #FFF;
	
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	
	margin: 0.5em 0.2em;
}

div.rssBox h2 {
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	
	padding: 0 1em;
}

div.rssBox div {
	padding: 4px;
	margin: 0;
	margin-bottom: 2px;
	
	height: 280px;
	overflow: auto;
}

div.rssBox div#gmailBox {
	
}

div.rssBox div ul {
	list-style: none;
	
	padding: 0;
	margin: 0;
}

div.rssBox div li {	
	list-style: none;
	
	padding: 0;
	
	margin: 0.5em 0 0.5em 1em;
}

div.rssBox a.title {
	font-size: 1.0em;
	font-weight: bold;
	color: #036;
}

div.rssBox span.author {
	font-size: 1.0em;
	font-weight: normal;
	color: #963;	
}

div.rssBox span.pubDate {
	font-size: 1.0em;
	font-weight: normal;
	color: #999;	
}

div.rssBox span.category {
	font-size: 1.1em;
	font-weight: normal;
	color: #000;	
}

.clearer {
	clear: both;
}